.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    font-size: 1.3rem;
    color: #fff;
    background: transparent;
    font-weight: 600;
}

.movie-reel-loader {
    width: 56px;
    height: 56px;
    position: relative;
    margin-bottom: 1.1rem;
    animation: spinMovieReel 1.1s linear infinite;
    border-radius: 50%;
}

@keyframes spinMovieReel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.reel-center {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 16px;
    background: #222;
    border-radius: 50%;
    box-shadow: 0 0 6px #111a;
    z-index: 3;
}

.reel-spokes {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.reel-hole {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #353535;
    border-radius: 50%;
}

.reel-hole.h1 {
    left: 3px;
    top: 23px;
}

.reel-hole.h2 {
    left: 23px;
    top: 3px;
}

.reel-hole.h3 {
    right: 3px;
    top: 23px;
}

.reel-hole.h4 {
    left: 23px;
    bottom: 3px;
}

.reel-rim {
    width: 100%;
    height: 100%;
    border: 5px solid #c2bdb6;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}